body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e53939;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#project-form {
    margin-bottom: 30px;
}

#project-form label {
    display: block;
    margin-bottom: 5px;
}

#project-form input, #project-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#project-form button {
    background-color: #e53939;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#project-form button:hover {
    background-color: #cc3333;
}

#project-list ul {
    list-style-type: none;
    padding: 0;
}

#project-list li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project-list button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#project-list button:hover {
    opacity: 0.8;
}
